* {
    cursor: crosshair;
}

.modal {
    cursor: default;
}

.modal-dialog {
    cursor: default;
}

#close-button {
    cursor: pointer;
}

.btn-circle.btn-xl {
    width: 100px;
    height: 100px;
    padding: 13px 18px;
    border-radius: 60px;
    font-size: 15px;
    text-align: center;
}

img {
    max-width: 96%;
    max-height: 96%;
    position: relative;
    left: 2%;
    top: 2%;
    height: 100%;
    width: 100%;
    object-fit: contain;
    overflow: hidden;
    border-radius: 50%;
}

.century-marker-dark {
    background-color: black;
    height: 100px;
}

.century-marker-light {
    background-color: rgb(29, 24, 24);
    height: 100px;
}

h1 {
    padding-left: 50px;
    font-size: 200px;
}

h2 {
    font-size: 20px;
}

h3 {
    position: relative;
    left: 100px;
    top: -60px;
    font-size: 22px;
    min-width: max-content;
    padding-left: 5px;
}

h3:hover {
    text-decoration: underline;
    cursor: pointer;
}

h4 {
    position: relative;
    left: 60px;
    top: -40px;
    font-size: 16px;
    min-width: max-content;
    padding-left: 5px;
}

h4:hover {
    text-decoration: underline;
    cursor: pointer;
}

h5 {
    position: relative;
    left: 20px;
    top: -1px;
    font-size: 16px;
    min-width: max-content;
    padding-left: 5px;
}

h5:hover {
    text-decoration: underline;
    cursor: pointer;
}

.box-major-event {
    position: absolute;
    top: 300px;
    width: 110px;
    border-top: white 2px solid;
}

.icon-major-event {
    position: relative;
    top: -51px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: white;
}

.box-medium-event {
    position: absolute;
    top: 400px;
    width: 110px;
    border-top: white 2px solid;
}

.icon-medium-event {
    position: relative;
    top: -31px;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: white;
}

.box-minor-event {
    position: absolute;
    top: 500px;
    width: 110px;
    border-top: white 2px solid;
}

.icon-minor-event {
    position: relative;
    top: -11px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
}