* {
    cursor: crosshair;
}

.btn-circle.btn-xl {
    width: 100px;
    height: 100px;
    padding: 13px 18px;
    border-radius: 60px;
    font-size: 15px;
    text-align: center;
}

img {
    overflow: hidden;
}

.century-marker-dark {
    background-color: black;
    height: 100px;
}

.century-marker-light {
    background-color: white;
    height: 100px;
}

h3 {
    position: relative;
    left: 100px;
    top: 28px;
    min-width: max-content;
    padding-left: 5px;
}

h3:hover {
    text-decoration: underline;
}

h4 {
    position: relative;
    left: 60px;
    top: 13px;
    min-width: max-content;
    padding-left: 5px;
}

h4:hover {
    text-decoration: underline;
}

h5 {
    position: relative;
    left: 20px;
    top: -4px;
    min-width: max-content;
    padding-left: 5px;
}

h5:hover {
    text-decoration: underline;
}

.box-major-event {
    position: absolute;
    top: 1000px;
    width: 150px;
    border-top: white 2px solid;
}

.icon-major-event {
    position: relative;
    top: -51px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: white;
}

.box-medium-event {
    position: absolute;
    top: 1100px;
    width: 100px;
    border-top: white 2px solid;
}

.icon-medium-event {
    position: relative;
    top: -31px;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: white;
}

.box-minor-event {
    position: absolute;
    top: 1200px;
    width: 200px;
    border-top: white 2px solid;
}

.icon-minor-event {
    position: relative;
    top: -11px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
}